#header {background-color: #003300;}
#footer {background-color: #003300;}
table.listing tr.fastTracked {background-color: #003300;}
a {color: #003300;}
a:link {color: #003300;}
a:active {color: #003300;}
a:visited {color: #003300;}
a:hover {color: #003300;}
input.defaultButton {color: #003300;}
body {background-color: ;}
input.defaultButton {background-color: ;}
body {color: ;}
input.defaultButton {color: ;}
